{% extends "./base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="container">
    <h2 style="text-align:center">Dashboard</h2>
     <br>
     <br>
		<a href="{% url 'analytics' %}" class="btn btn-success btn-block btn-xl">
		Analytics
		</a>
		<h1>Today's Appointments</h1>
		<div class="patients">
		{% for a in appointments %}
		<li class="patient">
			<div class="row">
				<div class="col col-8">
					{{a.patient_name}} | {{a.appointment_time}} | Duration: {{a.duration}} minutes |
					{% if a.status == "" %}
					Status: Not Arrived
					{% else %}
					Status: {{a.status}}
					{% endif %}
                </div>
			</div>
		</li>
		{% endfor %}
		</div>
</div>
{% endblock body %}
