{% extends "./base.html" %}
{% load widget_tweaks %}
{% block body %}
<div class="container">
    <h2 style="text-align:center">Update your info!</h2>

    <form action="{% url 'demographics' %}" method="post">
       {% csrf_token %}
        {% for field in form %}
        <strong style="color:#FE0101; font-size:20px">{{ field.errors.as_text }}</strong>

        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" placeholder=field.help_text %}
        </div>
        {% endfor %}
         <button type="submit" class="btn btn-success">Update Info</button>
    </form>

</div>
{% endblock body %}